  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forma</title>
</head>
<body>
<nav>

       <h5>Привет странник ты прошел авторизацию</h5>

    <ul>
        <li><a href="/response">узнай свои данные в конторе </a></li>
        <li><a href="/showAllPerson">Список всех пользователей</a></li>
        <li><a href="/showCurrentUser">Получить имя текущего пользователя</a></li>
        <li><a href="/showDescr">Получить описание текущего пользователя</a></li>
        <li><a href="/showGroupRole">Получить роли текущего пользователя</a></li>
        <li><a href="/showTelUser">Получить телефон текущего пользователя</a></li>
    </ul>
    <form name="form" th:action="@{/response}" method="GET">
        <!--<fieldset>-->
            <!--<input type="text" name="username" value="" placeholder="Username" />-->
            <!--<input type="password" name="password" placeholder="Password" />-->
        <!--</fieldset>-->
        <input type="submit" id="login" value="узнай свои данные в конторе"
               class="btn btn-primary" />
    </form>
</nav>
</body>
</html>